/* Estilos para el pop-up */
.popup {
    position: fixed;
    top: 0 ;
    bottom: 0 ;
    right: 0 ;
    left: 0 ;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999 ;
}   

.contain-the-popup{

}

.popup-content{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1024px;
    max-width: 95%;
    transform: translate(-50%, -50%);
}


/* Estilos para cerrar el pop-up */
.close-btn {
    
    color: white ;
    
    position: absolute ;
    top: 20px ;
    right: 10px ;
    cursor: pointer ;
    font-size: 80px ;
}
